 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About Me</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-5 col-lg-offset-2">
                    <p>Hi, I'm Assa.</p>
                    <p>I am a bioinformatician at the Max-Planck-Institute for Biochemistery (MPIB), working in the Computational Systems Biochemistry and as part of the Bioinformatics Core Facility. I am responsible for data analysis of Omics data sets such as RNA-Seq, ChIP-Seq, Bisulphite-Seq, WGS, and de-novo Sequencing as well as for more Sequence-based projects such as BLAST, phylogenetics, motif and domain search. I have earned my PhD from the University of Duesseldorf in 2013 studying the repsonsse of plants (A. thaliana) to various abiotic stress faactors on Microarrays  </p>
                </div>
                <div class="col-lg-5">
                    <p>email: yeroslaviz@biochem.mpg.de</p>
                    <p>github: <a href="https://github.com/yeroslaviz" target="_blank">@yeroslaviz</a></p>
                    <p>twitter: <a href="https://twitter.com/AssaYeroslaviz" target="_blank">@AssaYeroslaviz</a></p>
                    <p>web: <a href="https://https://www.biochem.mpg.de/1819083/bioinformatics" target="_blank">Bioinformatics@MPIB</a></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.biochem.mpg.de/en/rg/cox" target="_blank">Computational Systems Biochemistry</a></p>
                </div>
                </div>
            </div>
    </section>
