 <!-- Publications Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Blogs and Talks</h3>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% include blog_list.html %}
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
